*

!scripts/

!server/cabal.project
!server/*.cabal

!server/app/
!server/src/
!server/test/
!server/static/
!server/config/
!server/ogmios.wsp.json
!server/LICENSE
!server/README.md
!server/CHANGELOG.md

!server/modules/
server/modules/**/.stack-work
server/modules/hjsonpointer
server/modules/hjsonschema
server/modules/wai-routes

!LICENSE
