*

!LICENSE
!stack.yaml
!snapshot.yaml
!ogmios.wsp.json

!ogmios-server/app/
!ogmios-server/src/
!ogmios-server/static/
!ogmios-server/Setup.hs
!ogmios-server/package.yaml

!modules/
modules/ouroboros-network

# Needed for embeddding the version
!.git/
