*

!scripts/

!default.nix

!server/cabal.project
!server/*.cabal

!server/ogmios.wsp.json
!server/LICENSE

!server/app/
!server/src/
!server/static/
!server/config/
!server/test/
server/test/vectors

!server/modules/
server/modules/hjsonpointer
server/modules/hjsonschema
server/modules/wai-routes

!LICENSE
