### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dump-hi
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
*.cabal
.HTF/
.ghc.environment.*
.ghci
*.tix
stack.yaml.lock

### Generated ###
docs/public
docs/static/api-reference.html
