version: "3.5"

services:
  cardano-node:
    image: inputoutput/cardano-node:1.20.0
    restart: on-failure
    environment:
      - NETWORK=${NETWORK:-mainnet}
    volumes:
      - node-db:/data
      - node-ipc:/ipc
    logging:
      driver: "json-file"
      options:
        max-size: "400k"
        max-file: "20"

  ogmios:
    build: .
    image: ktorz/ogmios:latest
    restart: on-failure
    environment:
      - OGMIOS_NETWORK=${NETWORK:-mainnet}
    command: ["--host", "0.0.0.0", "--node-socket", "/ipc/node.socket"]
    volumes:
      - node-ipc:/ipc
    ports:
      - ${OGMIOS_PORT:-1337}:1337

volumes:
  node-db:
  node-ipc:
