*

!cabal.project
!*.cabal

!app/
!src/
!test/
!static/
!ogmios.wsp.json
!scripts/

!modules/
modules/**/.stack-work
modules/ouroboros-network
modules/cardano-node
modules/hjsonpointer
modules/hjsonschema
modules/wai-routes

!LICENSE
