*

!resolver.yaml
!stack.yaml
!.hpack.config.yaml
!.stylish-haskell.yaml
!LICENSE

!package.yaml
!app/
!src/
!static/
!scripts/

!modules/
modules/**/.stack-work
modules/ouroboros-network
modules/cardano-node
modules/hjsonpointer
modules/hjsonschema
modules/wai-routes

!ogmios.wsp.json
