html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.triangles {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  z-index: -1000;
}

body {
  background-color: #cc3898;
  color: #fff;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  width: 100%;
  font-size: 1em;
}
h1::before { content: "──────"; margin: 0 .5em;}
h1::after { content: "──────"; margin: 0 .5em; }

.block > p {
  text-shadow: 0 1px 3px rgba(255,255,255,.12), 0 1px 2px rgba(255,255,255,0.24)
}

#block-hash {
  background-color: rgba(255,255,255,0.1);
  padding: 1em 2em;
}

#progress {
  background: #fff;
  height: .25em;
  position: absolute;
  top: 0;
}

#progress.active {
  animation: progress 20s infinite linear;
}

@keyframes progress {
  from { width: 0%; }
  to { width: 100%; }
}

.cube { padding: 5em; }

a.github {
  position: absolute;
  bottom: 5%;
}

@media (max-width: 800px) {
  a.github {
    display: none;
  }
}

a  { outline: 0; }

